<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>admin</username>
      <password>admin123</password>
      <id>priv-transwarp-lib</id>
    </server>
    <server>
      <username>admin</username>
      <password>admin123</password>
      <id>priv-transwarp-snapshots</id>
    </server>
    <server>
      <username>admin</username>
      <password>admin123</password>
      <id>priv-transwarp-plugin</id>
    </server>
    <server>
      <username>admin</username>
      <password>admin123</password>
      <id>priv-transwarp-plugin-snapshots</id>
    </server>
    <server>
      <username>admin</username>
      <password>password</password>
      <id>central</id>
    </server>
    <server>
      <username>admin</username>
      <password>password</password>
      <id>snapshots</id>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>repo</name>
      <url>http://172.16.1.168:8081/artifactory/repo</url>
      <id>repo</id>
    </mirror>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>remote-repos</name>
      <url>http://172.16.1.168:8081/artifactory/remote-repos</url>
      <id>remote-repos</id>
    </mirror>
    <mirror>
      <id>alimaven</id>
      <name>aliyun maven</name>
      <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    <mirror>
      <id>repo1</id>
      <mirrorOf>central</mirrorOf>
      <name>Human Readable Name for this Mirror.</name>
      <url>http://repo1.maven.org/maven2/</url>
    </mirror>
    <mirror>
      <id>repo2</id>
      <mirrorOf>central</mirrorOf>
      <name>Human Readable Name for this Mirror.</name>
      <url>http://repo2.maven.org/maven2/</url>
    </mirror>
    <mirror>
      <id>priv-transwarp-lib</id>
      <name>nexus repo for dependencies</name>
      <url>http://172.16.1.161:30033/repository/repo</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>http://172.16.1.161:30033/repository/libs-release</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>priv-transwarp-lib</id>
          <name>libs-release-local</name>
          <url>http://172.16.1.161:30033/repository/libs-release-local</url>
        </repository>
        <repository>
          <snapshots />
          <id>priv-transwarp-snapshots</id>
          <name>libs-snapshot</name>
          <url>http://172.16.1.161:30033/repository/libs-snapshot</url>
        </repository>
        <!-- <repository>
          <snapshots />
          <id>priv-transwarp-snapshots</id>
          <name>libs-snapshot-local</name>
          <url>http://172.16.1.161:30033/repository/libs-snapshot-local</url>
        </repository> -->
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>http://172.16.1.168:8081/artifactory/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>http://172.16.1.168:8081/artifactory/libs-snapshot</url>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>priv-transwarp-plugin</id>
          <name>plugins-release</name>
          <url>http://172.16.1.161:30033/repository/plugins-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>priv-transwarp-plugin-snapshots</id>
          <name>plugins-snapshot</name>
          <url>http://172.16.1.161:30033/repository/plugins-snapshot</url>
        </pluginRepository>
        <!-- <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>plugins-release</name>
          <url>http://172.16.1.168:8081/artifactory/plugins-release</url>
        </pluginRepository> -->
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>http://172.16.1.168:8081/artifactory/plugins-snapshot</url>
        </pluginRepository>
     </pluginRepositories>
     <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
